.container {
    min-height: 200px;
    display: flex;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid rgb(187, 202, 216);
}

.dropdown {
  min-width: 200px;
  margin: 2em;
  position: relative;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(193, 206, 219);
  border-radius:4px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s;
  padding: 5px;
  background-color: rgb(230, 240, 249);
}

.title {
    color:rgb(66, 74, 81);
}

.selectClicked {
    border: 1px solid rgb(39, 38, 38);
    box-shadow: 0 0 0.8em rgb(39, 38, 38);
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.3s;
}

.caretRotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 2px 4px;
    border: 1px solid rgb(44, 44, 44);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: absolute;
    top: 20px;
    width: 100%;
    transition: 0.2s;
    z-index: 1;
}

.menuElement {
    cursor: pointer;
    padding: 2px 3px;
    margin: 2px 0;
    border-radius: 3px;
}

.menuElement:hover {
    background-color: rgb(242, 244, 246);
}

.active {
    background-color: rgb(229, 233, 236);
}

.menuOpen {
    display: block;
    opacity: 1;
}

.form {
    display: flex;
    width: 100%;
}

.formBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    border-right: 1px solid rgb(187, 202, 216);;
}

.input {
    outline: none;
    border: none;
    background-color: rgb(230, 240, 249);
    padding: 3px;
    border-radius: 4px;
    width: 60px;
    height: 20px;
}

.inputBlock {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-block-start: 20px;
}

.inputBlockQuantity {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-block-start: 20px;
}

.label {
    width: 50px;
}

.labelQuantity {
    width: 90px;
}

.button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(212, 228, 241);
    margin: auto;
    cursor: pointer;   
    border: 1px solid rgb(193, 206, 219);
}

.button:hover {
    background-color: rgb(179, 200, 219);
}